.community {
  width: 100%;
  h3 {
    background: #ffffff;
    font-size: .2rem;
    height: .4rem;
    margin: 0 auto;
    text-align: center;
    padding-top: .1rem;
    line-height: .4rem;
  }
  .am-tabs-default-bar-underline{
    border: .01rem #482818 solid;
  }
  .am-tabs-default-bar-tab-active {
    color: #482818;
  }
}


